.logoA {
    background: url(../../../images/logoA.png) center center;
    background-size: cover;
}
.background {
    background: url("../../../images/bg-night.jpg") no-repeat center center;
    background-size: cover;
    height: 99.8vh;
}
$color: #0cf;
.button-submit {
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      opacity: 0; //
      bottom: 0;
      left: -10%; //
      max-width: 100%; // quan trong
      height: 100%;
      background-color: rgba(255,255,255, 0.5);
      transition: all 0.3s;  //
      border-radius: 10rem;
      z-index: -1;
      visibility: unset; //
    }
    &:hover {
      color: #fff;
      opacity: 1;
      &:before {
        visibility: visible; //
        opacity: 1; //
        width: 100%; //
        transform: translateX(250px); //
      }
    }
  }

@media screen and (max-width: 1200px) {
    .background {
        display: none !important;
    }
    .form-login {
        width: 100% !important;
    }
}
@media screen and (min-width: 768px) {
  .inputs {
      margin-right: 8px;
  }
}