
.mailbox {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    padding: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.mailboxwrap {
    position: relative;
    width: 84.5%;
    height: 100%;
    left: 16%;
}
.mailhead {
    position: relative;
    display: flex;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important;
    justify-content: center !important;
    align-items: center;
    border-radius: 8px;
}
.mailheadleft {
    position: relative;
    display: flex;
    width: 50%;
    height: 70px;
}
.mailheadleft > button {
    margin-left: 3.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: none;
    box-shadow: 0.2px 3px 5px 0.2px;
    border-radius: 3px;
    background: #fff;
}
.fa-power-off {
    font-size: 30px;
    color: lightpink;
}
.mailheadleftinfo {
    margin-left: 5%;
}
.mailheadleftinfo > h1 {
    font-size: 20px;
}
.mailheadleftinfo > p{
    font-size: 14px;
    margin-top: -5px;
}

.mailheadright {
    position: relative;
    display: flex;
    width: 50%;
    height: 70px;
    justify-content: right;
    align-items: center;
}
.mailheadright > button {
    padding: 5px 8px;
    background-color: black;
    border-radius: 6px;
}
.fa-star {
    color: white;
    font-size: 20px;
}

.mailheadrightbtn {
    padding: 5px 8px;
    background-color: blue !important;
    border-radius: 6px;
    color: white !important;
    margin-left: 2%;
    font-weight: bolder;
    width: 120px;
    margin-right: 3%;
    padding: 8px 0 !important;
}
.fa-toolbox {
    margin-right: 15px;
}

.mailbody {
    position: relative;
    display: flex;
    width: 100%;
    height: 900px;
    border-radius: 8px;
}
.mailbodyleft {
    position: relative;
    display: flex;
    width: 20%;
    height: 100%;
    background-color: #f8f9fa;
    border: 0.0005px solid rgb(231, 231, 231);
    border-radius: 8px;
}

.mailbodyleft__wrap {
    position: relative;
    display: flex;
    width: 93%;
    height: 100%;
    border-radius: 8px;
    margin-left: 5%;
}
.mailbodyleft__write {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.mailbodyleft__write > button {
    color: white;
    width: 86%;
    font-size: 15px;
    padding: 8px 30px;
    margin-top: 33px;
    border-radius: 30px;
    background-color: blue;
    opacity: 0.6;
    font-weight: bold;
}

.mailbodyleft__inform  {
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    top: 85px;
}
.mailbodyleft__inform > h1 {
    font-size: 14px;
    width: 100%;
}
.mailbodyleft__informpara {
    display: flex;
    width: 93%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.mailbodyleft__informpara > span {
    border: 0.01px solid grey;
    font-size: 13px;
    color: white;
}

.mailbodyleft__informpara__head {
    color: blue;
}

.mailbodyleft__informother {
    position: absolute;
    display: block;
    width: 100%;
    height: 90px;
    top: 270px;
}
.mailbodyleft__informhr {
    position: absolute;
    display: block;
    width: 100%;
    top: 250px;
}
.mailbodyleft__informhrother {
    position: absolute;
    display: block;
    width: 100%;
    top: 360px;
}

.mailbodyleft__informonline {
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    top: 380px;
}
.mailbodyleft__informonline__head {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}
.mailbodyleft__informonline__head > h1 {
    font-size: 14px;
    font-weight: bolder;
}
.mailbodyleft__informonline__body {
    position: relative;
    width: 30%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.mailbodyleft__informonline__body__wrap {
    position: relative;
    margin: 5px auto;

}
.mailboxrowtwo {
    position: relative;
    margin: 5px auto;

}
.mailboxrowtwo > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.01px solid rgb(226, 224, 224);
    margin-right: 15px;
}
.mailbodyleft__informonline__body__wrap > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.005px solid rgb(226, 224, 224);
    margin-right: 15px;
}

.mailbodyleft__informonline__bodytwo {
    position: relative;
    width: 30%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.mailbodyleft__informonline__body__wrapdot {
    font-size: 100px;
    position: absolute;
    top: -100px;
    left: 25px;
}
.mailbodyleft__informonline__footer {
    position: relative;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 25px;
}
.mailbodyleft__informonline__footer > button {
    background-color: #31a66a;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    padding: 5px 23px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.mailbodyleft__informhrthree {
    position: absolute;
    display: block;
    width: 100%;
    top: 610px;
}

.mailbodyleft__informfooter {
    position: relative;
    display: block;
    width: 100%;
    top: 620px;
    height: 280px;
}

.mailbodyleft__informfooteritem {
    position: absolute;
    display: flex;
    width: 100%;
    height: 20px;
    top: 10px;
    align-items: center;
}
.mailbodyleft__informfooteritem > h1{
    font-size: 13px;
    margin-right: 10px;
}
.mailbodyleft__informfooteritem > p {
    font-size: 11px;
}

.mailbodyleft__informfooter__group {
    position: absolute;
    display: block;
    width: 98%;
    height: 50px;
    top: 38px;
    align-items: center;
    left: 5%;
}
.mailbodyleft__informfooter__groupitem {
    display: flex;
    width: 100%;
    height: 45px;
    top: 35px;
    align-items: center;
}
.mailbodyleft__informfooter__groupitem .mailbodyleft__informfooter__groupcircle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8%;
}
.mailbodyleft__informfooter__hr {
    position: absolute;
    display: flex;
    width: 100%;
    top: 170px;
    align-items: center;
    color: black;
}
.mailbodyleft__informfooteritemfooter {
    position: absolute;
    display: flex;
    width: 95%;
    height: 50px;
    top: 180px;
    align-items: center;
    left: 5%;
}
.mailbodyleft__informfooteritemfooter__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8%;
    border: 4px solid green;
}
.mailbodyleft__informfooteritemfooter > p{
    font-size: 11;
}

.mailbodyright {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 8px;
    justify-content: center;
    border: 0.0005px solid rgb(231, 231, 231);
    border-radius: 8px;
}

.mailbodyright__head {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    height: 70px;
    border-bottom: 0.005px solid gray;
}
.mailbodyright__head > p{
    font-size: 25px;
    font-weight: bold;
}
.mailbodyright__head .fa-chevron-down {
    font-size: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.mailbodyright__head__search {
    display: flex;
    width: 20%;
    height: 45px;
    align-items: center;
    background-color: rgb(240, 241, 241);
    justify-content: space-between;
    border: 0.005px solid grey;
    border-radius: 6px;
    margin-right: 1px;
}
.mailbodyright__head__search  > input {
    width: 80%;
    height: 94%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.fa-search {
    margin-left: 5.5%;
}
.mailbodyright__main {
    position: relative;
    display: block;
    justify-content: center;
    height: 100%;
    width: 100%;
    top:70px;
}
.mailbodyright__mainbar {
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    border: 0.0005px solid grey;
    border-radius: 6px;
}
.mailbodyright__mainbar:hover {
    background: rgb(219, 237, 245);
}
.mailbodyright__mainhead {
    position: absolute;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mailbodyright__mainhead > input[type=checkbox] {
    margin-left: 20%;
    transform: scale(1.5);
}
.mailbodyright__mainhead > .fa-star {
    margin-right: 20%;
    font-size: 18px;
    color: black !important;
}

.mailbodyright__mainbody {
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    left: 10%;
}

.mailbodyright__mainbody__one {
    position: absolute;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    left: 0;
}

.mailbodyright__mainbody__one >img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5%;
}
.mailbodyright__mainbody__one__infor {
    position: relative;
    display: block;
}
.mailbodyright__mainbody__one__infor > h1 {
    font-size: 14px;
    width: 100%;
    margin-bottom: 5px;
}
.mailbodyright__mainbody__one__infor > p {
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
}
.mailbodyright__mainbody__two {
    position: absolute;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    left: 30%;
    justify-content: space-between;
}

.mailbodyright__mainbody__two > .fa-carrot {
    margin-right: 7%;
}

.mailbodyright__mainback {
    position: absolute;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    left: 90%;
    justify-content: center;
}

.mailfoot {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: chartreuse;
}

.mailbodyright__footer {
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    bottom: 3%;
    left: 5%;
}
.mailbodyright__footer > button {
    margin-right: 0.5%;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

@media screen and (max-width: 1500px) {
    .mailboxwrap {
        width: 100%;
        position: relative;
        left: 0;
    }
}
@media screen and (max-width: 1300px) {
    .mailbodyleft {
        display: none;
    }
    .mailbodyright {
        width: 100%;
    }
}

.fa-file-import,
.fa-comment-alt,
.fa-cog {
    margin-right: 10px;
    color: black !important;
    opacity: 0.5;
}