@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap');
.forgot {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
}
.information {
    position: relative;
    width: 35%;
    height: 100vh;
    transition: all ease 0.8s;
}
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sections {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.8s;
    overflow-y: hidden;
    overflow-x: hidden;
}
.section-info {
    display: block;
    background-image: url(../../../images/imgbackg.jpg);
    width: 700px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    opacity: 1;
    transition:all ease 0.8s;
}
.section-infos{
    display: block;
    background-image: url(../../../images/imgbackg2.jpg);
    width: 700px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    opacity: 1;
    transition:all ease 0.8s;
}
.section-infoss {
    display: block;
    background-image: url(../../../images/imgbackg3.jpg);
    width: 700px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    opacity: 1;
    transition:all ease 0.8s;
}

.active {
    opacity: 0;
    transition: all ease 0.8s;
}

.section-info > h4,
.section-infos > h4,
.section-infoss > h4 {
    font-size: 40px;    
    margin-top: 400px;
    color: white;
}
.section-info > p,
.section-infos > p,
.section-infoss > p {
    font-size: 18px;    
    margin: -10px 100px 0px 100px;
    color: white;
    font-weight: lighter;
}

.button_font {
    position: absolute;
    color: white;
    background-color: transparent;
    top: 500px;
    left: 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 20;
}
.button_fonts {
    position: absolute;
    color: white;
    background-color: transparent;
    top: 500px;
    right: 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 20;
}
.button_font:hover,
.button_fonts:hover {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
}

.dotslide {
    display: flex;
    position: absolute;
    margin-top: 900px;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.activetwo {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.dotslide .circle_slide{
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.dotslide .circle_slide >p  {
    margin: -81px 10px 0px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(245, 247, 245);
    font-size: 100px;
}
.circle_slide:hover {
    background: rgba(0,0,0,0.5);
}
.activetwo >p  {
    margin: -81px 10px 0px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(4, 34, 4);
    font-size: 100px;
}
.activetwo:hover {
    background: rgba(0,0,0,0.5);
}

.forgottwo {
    position: relative;
    width: 65%;
    height: 100vh;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.forgotform {
    position: relative;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.wrapforgot {
    position: relative;
    display: flex;
    width: 70%;
    height: 100vh;
}
.formheadingforgot {
    position: absolute;
    width: 100%;
    top: 300px;
    width: 100%;
    height: 210px;
}
.formheadingforgot > h1 {
    font-size: 27px;
    font-family: 'Kaushan Script', 'cursive';
    margin-bottom: 60px;
}
.formheadingforgot > p{
    font-size: 27px;
}
.forgottenp {
    font-size: 20px !important;
    margin-top: -20px;
}
.inform {
    font-size: 18px ;
    margin-top: 22px ;
}
.inform > a{
    text-decoration: none;
    margin-left: 5px;
    font-size: 18px;
}
.forgot_hr {
    position: absolute;
    width: 100%;
    top: 510px;
    width: 86.5%;
    height: 10px;
}
.forgot_hr > hr {
    color: black;
}
.formsubmit {
    position: absolute;
    width: 100%;
    top: 530px;
    width: 100%;
    height: 200px;
    display: flex;
}
.form {
    display: block;
    width: 100%;
    margin-right: 40px;
}
.form > label {
    font-size: 17px;
}
.form > input {
    padding: 9px 9px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}
.forms {
    position: absolute;
    width: 100%;
    height: auto;
    top: 640px;
    display: flex;   
    align-items: center;
}
.forms > input[type=checkbox] {
    transform: scale(1.5);
}
.forms > label {
    margin-left: 10px;
}

.forgot_hrunder {
    position: absolute;
    width: 100%;
    top: 670px;
    width: 86.5%;
    height: 10px;
}
.forgot_hrunder > hr {
    color: black;
}

.submit {
    position: absolute;
    width: 97%;
    height: auto;
    top: 670px;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.submit > a {
    text-decoration: none;
    color: blue;
}
.submit > button {
    padding: 10px 30px;
    margin-left: 20px;
    background-color: rgb(38, 38, 253);
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1500px) {
    .information {
        display: none;
    }
    .forgottwo {
        width: 100%;
    }
    .forgotform {
        width: 85%;
    }
}